<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" monitorInterval="60">
    <properties>
        <property name="log.level">INFO</property>
        <property name="log.path">logs</property>
        <property name="all.path">${log.path}/all</property>
        <property name="ecs.path">${log.path}/ecs</property>
        <property name="serverlog.pattern.format">%d{yyyy-MM-dd HH:mm:ss.SSS} [ECS] [%level] %pid [%t] %c{1.} | %msg%xEx%n</property>
    </properties>

    <appenders>
        <!-- INFO 日志 -->
        <RollingRandomAccessFile name="all" fileName="${all.path}/info.log"
                                 filePattern="${all.path}/$${date:yyyyMM}/info-%d{yyyyMMdd}-%i.log.gz"
                                 immediateFlush="false">
            <PatternLayout pattern="${serverlog.pattern.format}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10000">
                <Delete basePath="${all.path}" maxDepth="2">
                    <!-- 匹配条件：文件名符合 *.log.gz -->
                    <IfFileName glob="*/*.log.gz" />
                    <!-- 触发条件：文件最后修改时间超过 30 天 -->
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <!-- ERROR 日志 -->
        <RollingRandomAccessFile name="allErr" fileName="${all.path}/error.log"
                                 filePattern="${all.path}/$${date:yyyyMM}/error-%d{yyyyMMdd}-%i.log.gz"
                                 immediateFlush="false">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${serverlog.pattern.format}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>

            <!-- 同样的策略 -->
            <DefaultRolloverStrategy max="10000">
                <Delete basePath="${all.path}" maxDepth="2">
                    <IfFileName glob="*/*.log.gz" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <AsyncRoot level="${log.level}" includeLocation="false">
            <appender-ref ref="all"/>
            <appender-ref ref="allErr"/>
        </AsyncRoot>
        <logger name="com.fasterxml.jackson" level="WARN"/>
    </loggers>
</configuration>