<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" monitorInterval="60">
    <properties>
        <property name="log.level">INFO</property>
        <property name="log.path">logs</property>
        <property name="all.path">${log.path}/all</property>
        <property name="ecs.path">${log.path}/ecs</property>
        <property name="serverlog.pattern.format">%d{yyyy-MM-dd HH:mm:ss.SSS} [ECS] [%level] %pid [%file:%L] [%t] %M | %msg%xEx%n</property>
    </properties>

    <appenders>
        <!-- 控制台 (仅开发用) -->
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="${log.level}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${serverlog.pattern.format}"/>
        </Console>

        <!-- INFO 日志 -->
        <RollingRandomAccessFile name="all" fileName="${all.path}/info.log"
                                 filePattern="${all.path}/$${date:yyyyMM}/info-%d{yyyyMMdd}-%i.log.gz"
                                 immediateFlush="false">
            <PatternLayout pattern="${serverlog.pattern.format}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>

            <!-- 【修改点1】max="10000"：一天内最多允许分片10000个文件（1TB），相当于不限制 -->
            <DefaultRolloverStrategy max="10000">
                <!-- 【修改点2】Delete 策略：自动删除过期文件 -->
                <!-- basePath: 扫描的基础目录 -->
                <!-- maxDepth: 扫描深度。因为你的路径有 /yyyyMM/ 这一层，所以深度设为 2 -->
                <Delete basePath="${all.path}" maxDepth="2">
                    <!-- 匹配条件：文件名符合 *.log.gz -->
                    <IfFileName glob="*/*.log.gz" />
                    <!-- 触发条件：文件最后修改时间超过 30 天 -->
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <!-- ERROR 日志 -->
        <RollingRandomAccessFile name="allErr" fileName="${all.path}/error.log"
                                 filePattern="${all.path}/$${date:yyyyMM}/error-%d{yyyyMMdd}-%i.log.gz"
                                 immediateFlush="false">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${serverlog.pattern.format}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>

            <!-- 同样的策略 -->
            <DefaultRolloverStrategy max="10000">
                <Delete basePath="${all.path}" maxDepth="2">
                    <IfFileName glob="*/*.log.gz" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <!-- ECS 业务日志 -->
        <RollingRandomAccessFile name="ecsLogAppender" fileName="${ecs.path}/ecs.log"
                                 filePattern="${ecs.path}/$${date:yyyyMM}/ecslog-%d{yyyyMMdd}-%i.log.gz"
                                 immediateFlush="false">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${serverlog.pattern.format}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>

            <!-- 同样的策略 (注意这里 basePath 是 ecs.path) -->
            <DefaultRolloverStrategy max="10000">
                <Delete basePath="${ecs.path}" maxDepth="2">
                    <IfFileName glob="*/*.log.gz" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <AsyncRoot level="${log.level}" includeLocation="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="all"/>
            <appender-ref ref="allErr"/>
        </AsyncRoot>
        <AsyncLogger name="top.kgame.lib.ecs" level="INFO" includeLocation="true" additivity="false">
            <appender-ref ref="ecsLogAppender"/>
        </AsyncLogger>
    </loggers>
</configuration>